<html>
<head>
    <title>Groceries</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/assets/our/groceries.css">
</head>
<body>
<div class="tdl-holder" style="display:inline;width:100">
        <h2>PANTRY</h2>
        <input type="text" class="tdl-new" placeholder="Write new item and hit 'Enter'...">
        <div class="tdl-content">
            <ul>
                <li><label><input type="checkbox"><i></i><span>Tomato</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox" checked><i></i><span>Onion</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox"><i></i><span>Eggs</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox" checked><i></i><span>Flour</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox"><i></i><span>Cheese</span><a href='#'>&#8212;</a></label></li>
            </ul>
        </div>
        
    </div>

    <div class="tdl-holder" style="display:inline">
        <h2>PANTRY</h2>
        <input type="text" class="tdl-new" placeholder="Write new item and hit 'Enter'...">
        <div class="tdl-content">
            <ul>
                <li><label><input type="checkbox"><i></i><span>Tomato</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox" checked><i></i><span>Onion</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox"><i></i><span>Eggs</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox" checked><i></i><span>Flour</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox"><i></i><span>Cheese</span><a href='#'>&#8212;</a></label></li>
            </ul>
        </div>
        
    </div>

    <div class="tdl-holder" style="display:inline">
        <h2>PANTRY</h2>
        <input type="text" class="tdl-new" placeholder="Write new item and hit 'Enter'...">
        <div class="tdl-content">
            <ul>
                <li><label><input type="checkbox"><i></i><span>Tomato</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox" checked><i></i><span>Onion</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox"><i></i><span>Eggs</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox" checked><i></i><span>Flour</span><a href='#'>&#8212;</a></label></li>
                <li><label><input type="checkbox"><i></i><span>Cheese</span><a href='#'>&#8212;</a></label></li>
            </ul>
        </div>
        
    </div>
    <script src="/static/assets/web/assets/jquery/jquery.min.js"></script>

    <script>
          /* TO DO LIST */
  $(".tdl-new").bind('keypress', function(e){
    var code = (e.keyCode ? e.keyCode : e.which);
    if(code == 13) {
      var v = $(this).val();
      var s = v.replace(/ +?/g, '');
      if (s == ""){
        return false;
      }else{
        $(".tdl-content ul").prepend("<li><label><input type='checkbox'><i></i><span>"+ v +"</span><a href='#'>&#8212;</a></label></li>");
        $(this).val("");
      }
    }
  });


  $(".tdl-content a").bind("click", function(){
    var _li = $(this).parent().parent("li");
        _li.addClass("remove").stop().delay(100).slideUp("fast", function(){
          _li.remove();
        });
    return false;
  });

  // for dynamically created a tags
  $(".tdl-content").on('click', "a", function(){
    var _li = $(this).parent().parent("li");
        _li.addClass("remove").stop().delay(100).slideUp("fast", function(){
          _li.remove();
        });
    return false;
  });
    </script>
      <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>