<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/assets/our/menu.css" type="text/css">

</head>
<body bgcolor="transparent">

<div id="mySidenav" class="sidenav" onmouseleave="closeNav()">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <button id="about-us">About Us</button>
  <button id="cuisines">Cuisines</button>
  <!-- <button id="">About</button> -->
  <!-- <button id="">About</button> -->
  
</div>


<span style="font-size:30px;cursor:pointer" onmouseover="openNav()" onclick="openNav()" id="threebar">&#9776;</span>

   
</body>
</html> 
